builder:
  push: True
registry:
  address: "{{ registry_name }}:{{ registry_port }}"
nodes:
{% for node in groups['k8s-cluster'] %}
  {{node}}:
    roles:
      - infra
      - frontend
      - backend
{% endfor %}
kubernetes:
  namespace: {{ oss_namespace }}
images:
  namespace: {{ oss_namespace }}
repositories:
  path: {{ local_release_dir }}/oss/{{ ccp_repositories_path }}
  repos:
{% for repo in ccp_repos %}
    - name: {{ repo.name }}
      git_url: {{ repo.git_url }}
{% endfor %}
roles:
  infra:
    - etcd
  frontend:
    - devops-portal
  backend:
    - ceagle
    - health-api
    - health-job
    - availability
    - performance
configs:
  elasticsearch:
    hosts:
{% for node in groups['elasticsearch_nodes'] %}
      - host: {{ hostvars[node].ansible_default_ipv4.address | ipaddr }}
        port: 9200
{% endfor %}