 ! Managed by ansible
global_defs {
}
vrrp_script {{ keepalived_vrrp_check }} {
        script "pidof {{ keepalived_check_process }}"
        interval 5
        weight 2
        fail 5
        rise 2
}
vrrp_instance docker_registry {
    state {{ keepalived_state.upper() }}
    interface {{ keepalived_iface }}
    virtual_router_id {{ keepalived_vr_id  }}
    {% if keepalived_state == "master" %}
    priority {{ keepalived_master_priority }}
    {% else %}
    priority {{ keepalived_backup_priority }}
    {% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ virtual_ip }} dev {{ keepalived_iface }} label {{ keepalived_iface }}:0
    }
        track_script {
            {{ keepalived_vrrp_check }}
        }
}